body {
  font-size: 16px;
  color: #fff;
  height:100vh;
  background: linear-gradient(-45deg, #ee7752,#e73c7e,#23a6d5,#23d5ab);
  background-size: 400% 400%;
  position: relative;
  font-family: 'Oxygen', sans-serif;
}

@keyframes change {
  0%   {background-position: 0 50%;}
  50%  {background-position:100% 50% ;}
  100% {background-position: 0 50%;}
}

/** HEADER **/
#header-nav {
  background-color: #555555;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 60px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand span { 
  color: #ffffff;
  text-transform: uppercase;
  font-size: .5em;
  margin-top: 15px;
}
.header2 div{
  height: 60px;
margin-top: 0px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}

#nav-list {
color: #ffffff;
text-align: center;
}

#nav-list a:hover {
  background: #000000;
}
#nav-list a span {
  font-size: 1.1em;
}

#nav-list2 {
list-style: none;
color: #ffffff;
text-align: center;
}

#nav-list2 a:hover {
  background: #000000;
}
#nav-list2 a span {
  font-size: 1.1em;
}
#nav-list2 {
  list-style: none;
  margin-top: 0px;
}
#nav-list2 a {
  color: #ffffff;
  text-align: center;
}
li:hover > ul {
  display: block;
  position: absolute;
}
ul li a {
  list-style: none;
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #000; }

  li ul { display: none; }


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

section .container{
  border:3px solid white;
  max-width: 600px;
  width:100%;
  margin:auto;
  margin-top: 10%;
  opacity: 0.8;

  height:40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title {
  color: #000;
  font-weight: bold;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  background-color: #000;
  margin-top: 150px;
  color: white;
}

/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
 

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #555;
    color: #ffffff;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

}